{% extends 'index.html'%}
{% load static %}
{% block inicio_bloque %}

<div class="row align-items-center" style="margin-left: 0%;">

    <div style="width: 50%; text-align: justify;">
      <div style="text-align: center; padding-bottom: 5%;">
        
        <p style="font-size:40px;padding-left:10%; padding-right:10%;">Más 40 años al servicio del agro</p>
      </div>
      
      <p class="lead" style="padding-left:10%; padding-right:10%">

          Agroservicios es una empresa familiar nacida en la ciudad de Azul hace más de cuatro décadas. Desde nuestros comienzos, nos hemos comprometido con la excelencia en la venta y reparación de maquinaria agrícola, siendo testigos del crecimiento y evolución de la industria a lo largo del tiempo.
      </p>
      <p class="lead" style="padding-left:10%; padding-right:10%">

          Contamos con un equipo de excelencia dedicado a nuestros clientes que brinda asesoramiento desde la selección de la maquinaria adecuada, incluyendo la gestión del financiamiento y el servicio post venta.
      </p>  
    </div>

    <img src="../static/bootstrap-themes.png" style="width: 50%; padding-left: 0;" alt="Bootstrap Themes" loading="lazy">
    
</div>

{% endblock %}