{% extends 'index.html'%}
{% load static %}
{% block inicio_bloque %}
          

          <div class="row align-items-center" style="margin-left: 0%;">

            <div style="width: 50%; text-align: justify;">
              <div style="text-align: center; padding-bottom: 5%;"><p style="font-size:50px;">Más 40 años al servicio del agro</p></div>
              
              <p class="lead" style="padding-left:10%; padding-right:10%">

                  Agroservicios es una empresa familiar nacida en la ciudad de Azul hace más de cuatro décadas. Desde nuestros comienzos, nos hemos comprometido con la excelencia en la venta y reparación de maquinaria agrícola, siendo testigos del crecimiento y evolución de la industria a lo largo del tiempo.
              </p>
              <p class="lead" style="padding-left:10%; padding-right:10%">

                  Contamos con un equipo de excelencia dedicado a nuestros clientes que brinda asesoramiento desde la selección de la maquinaria adecuada, incluyendo la gestión del financiamiento y el servicio post venta.
              </p>  
            </div>

            <img src="../static/Espacio-de-productores-2.jpg" style="width: 50%; padding-left: 0;" alt="Bootstrap Themes" loading="lazy">
            
          </div>
          <div>          
            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
              <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                  <h2 class="display-5">Another headline</h2>
                  <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>
              <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                  <h2 class="display-5">Another headline</h2>
                  <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>
            </div>
          
            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
              <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                  <h2 class="display-5">Another headline</h2>
                  <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>
              <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                  <h2 class="display-5">Another headline</h2>
                  <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>
            </div>
          </div>
          
{% endblock %}